# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
.huggingface/

# Environments
.venv/
env/
venv/
ENV/

# Database files
data/
*.db
*.sqlite

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
